option_settings:
  - namespace: aws:ec2:vpc
    option_name: VPCId
    value: vpc-0820fc0d33d335fd9

  - namespace: aws:ec2:vpc
    option_name: Subnets
    value: subnet-00bbb1f012b4f777f,subnet-0782199984f6e4a25
      
  - namespace: aws:ec2:vpc
    option_name: ELBSubnets
    value: subnet-02b3be513571fe080,subnet-0e0a200df25efae6d

#  - namespace: aws:elb:loadbalancer
#    option_name: SecurityGroups
#    value: sg-0f848f77cddf085f5

  - namespace: aws:autoscaling:launchconfiguration
    option_name: InstanceType
    value: t2.micro

  - namespace: aws:autoscaling:launchconfiguration
    option_name: EC2KeyName
    value: rnd

