option_settings:
  - namespace: aws:ec2:vpc
    option_name: VPCId
    value: vpc-0efe6eb9bbb0932a6

  - namespace: aws:ec2:vpc
    option_name: Subnets
    value: subnet-0cc339502f0f3a73d,subnet-0ec336a24519d1fc4
      
  - namespace: aws:ec2:vpc
    option_name: ELBSubnets
    value: subnet-047d79547f0ac8058,subnet-0c8e4a676a4cb2dc0

  - namespace: aws:elb:loadbalancer
    option_name: SecurityGroups
    value: sg-0f848f77cddf085f5

  - namespace: aws:autoscaling:launchconfiguration
    option_name: InstanceType
    value: t2.micro

  - namespace: aws:autoscaling:launchconfiguration
    option_name: EC2KeyName
    value: rnd

