option_settings:
  - namespace: aws:ec2:vpc
    option_name: VPCId
    value: vpc-0792f2fbcce16884d

  - namespace: aws:ec2:vpc
    option_name: Subnets
    value: subnet-084d5f87b687d8423,subnet-037ef43e8f64d5018
      
  - namespace: aws:ec2:vpc
    option_name: ELBSubnets
    value: subnet-06ccfa5093cf69399,subnet-031d4575f738df9b8

#  - namespace: aws:elb:loadbalancer
#    option_name: SecurityGroups
#    value: sg-0f848f77cddf085f5

  - namespace: aws:autoscaling:launchconfiguration
    option_name: InstanceType
    value: t2.micro

  - namespace: aws:autoscaling:launchconfiguration
    option_name: EC2KeyName
    value: rnd

